/**
 * rtWidgets Plugin Style
 * 
 * Used for Admin Backend
 * 
 * @since rtWidget 1.0
 */

/* Subscribe widget admin styles */
.rtw_social_container .widefat { margin: 5px 0 10px }
.rtw_social_item { border-radius: 3px; margin-bottom: 6px; border: 1px solid #ddd; background: #eee; padding: 5px; cursor: move; }
.rtw-show-subscription { border-bottom: 1px solid #ddd; margin-bottom: 15px; }
.rtw_desc { font-size: 13px;display: block;clear: both;color: #666;line-height: 20px; }

/* Utility Classes */
.clear { clear: both; content: '\0020'; display: block; height: 0; visibility: hidden; overflow: hidden; width: 0; }

/* Getting Social is Good widget */
#social .inside a { background-color: #666;color: #FFF;display: inline-block;height: 30px;font-size: 1.25rem;line-height: 30px;margin: 10px 20px 0 0;overflow: hidden;padding: 0;text-align: center;text-decoration: none;width: 30px;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px; }
    #social .inside .rtw-facebook:hover { background-color: #537BBD; }
    #social .inside .rtw-twitter:hover { background-color: #40BFF5; }
    #social .inside .rtw-gplus:hover { background-color: #DD4B39 }
    #social .inside .rtw-rss:hover { background-color: #FAA33D; }

#latest_news .inside ul { margin: 0 0 0 12px }
    #latest_news .inside ul li { list-style: square; padding: 0 0 7px; }

/* Donation widget */
.rt-social-share { display: block;margin: 0 auto;width: 180px; }
.rt-social-share .rtw-social-box { float: left;margin: 0 15px; }