/*
 * Login Widget Style
 *
 * @since rtWidget 1.0
 */
#rtw-login-container {
    p { margin-bottom: rem-calc(10); }
    .rtw-tabs {
        margin: rem-calc(0 0 15);
        & > li { float: left;padding: 0;list-style: none;border-left: 1px solid #DDD;display: table;line-height: 44px;overflow: hidden;width: 33%; }
        & > li:first-child {
            border-left: 0;
            a { @include border-radius(10px 0 0 0); }
        } 
        & > li:last-child a { @include border-radius(0 10px 0 0); }
        
        li > a { background: rgba(153, 153, 153, 0.5);padding: 0;color: #FFF;text-decoration: none;display: block;text-align: center;
            &:hover, &:active, &:focus { background: rgba(153, 153, 153, 0.7); color: #FFF; text-decoration: none; }
        }
        li.ui-state-active a { background: rgba(153, 153, 153, 0.7); color: #FFF; }
    }
}