@font-face {
  font-family: 'rtw-fontello';
  src: url('../font/rtw-fontello.eot?11048531');
  src: url('../font/rtw-fontello.eot?11048531#iefix') format('embedded-opentype'),
       url('../font/rtw-fontello.woff?11048531') format('woff'),
       url('../font/rtw-fontello.ttf?11048531') format('truetype'),
       url('../font/rtw-fontello.svg?11048531#rtw-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rtw-fontello';
    src: url('../font/rtw-fontello.svg?11048531#rtw-fontello') format('svg');
  }
}
*/
 
 [class^="rtw-"]:before, [class*=" rtw-"]:before {
  font-family: "rtw-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.rtw-rss:before { content: '\e803'; } /* '' */
.rtw-tumblr:before { content: '\e817'; } /* '' */
.rtw-facebook:before { content: '\e800'; } /* '' */
.rtw-github-circled:before { content: '\e802'; } /* '' */
.rtw-youtube:before { content: '\e812'; } /* '' */
.rtw-info:before { content: '\e809'; } /* '' */
.rtw-flickr-circled:before { content: '\e804'; } /* '' */
.rtw-vimeo:before { content: '\e80a'; } /* '' */
.rtw-twitter:before { content: '\e801'; } /* '' */
.rtw-gplus:before { content: '\e807'; } /* '' */
.rtw-pinterest:before { content: '\e806'; } /* '' */
.rtw-linkedin:before { content: '\e805'; } /* '' */
.rtw-stumbleupon:before { content: '\e80b'; } /* '' */
.rtw-level-down:before { content: '\e819'; } /* '' */
.rtw-paypal:before { content: '\e80e'; } /* '' */
.rtw-picasa:before { content: '\e80c'; } /* '' */
.rtw-soundcloud:before { content: '\e80f'; } /* '' */
.rtw-delicious:before { content: '\e813'; } /* '' */
.rtw-wordpress:before { content: '\e808'; } /* '' */
.rtw-blogger:before { content: '\e816'; } /* '' */
.rtw-deviantart:before { content: '\e814'; } /* '' */
.rtw-digg:before { content: '\e815'; } /* '' */
.rtw-foursquare:before { content: '\e810'; } /* '' */
.rtw-reddit:before { content: '\e818'; } /* '' */
.rtw-stackoverflow:before { content: '\e811'; } /* '' */
.rtw-instagram:before { content: '\e80d'; } /* '' */